{
    "openapi": "3.0.2",
    "info": {
        "title": "AppSheet API",
        "description": "A RESTful API for PurpleAir sensors following the OpenAPI 3.0 specification.\n\nSome useful links:\n- [Website](https://www2.purpleair.com/)\n- [API Documentation](https://api.purpleair.com)",
        "termsOfService": "https://www2.purpleair.com/policies/terms-of-service",
        "contact": {
            "email": "contact@purpleair.com"
        },
        "version": "1.0.10"
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    },
    "servers": [
        {
            "url": "https://api.appsheet.com/api/v2"
        }
    ],
    "security": [
        {
            "apiKey": []
        }
    ],
    "tags": [
        {
            "name": "sensor",
            "description": "A AppSheet sensor",
            "externalDocs": {
                "description": "Read the API documentation",
                "url": "https://api.purpleair.com"
            }
        }
    ],
    "paths": {
        "/apps/{appId}/tables/{tableName}/Action": {
            "post": {
                "tags": [
                    "sensor"
                ],
                "summary": "Get sensor data by index",
                "description": "Get sensor data by sensor index",
                "operationId": "getSensorDataById",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/appId"
                    },
                    {
                        "$ref": "#/components/parameters/tableName"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AppId": {
                "type": "string",
                "description": "A comma separated list of the following values; 0.3_um_count, 0.3_um_count_a, 0.3_um_count_b, 0.5_um_count, 0.5_um_count_a, 0.5_um_count_b, 1.0_um_count, 1.0_um_count_a, 1.0_um_count_b, 2.5_um_count, 2.5_um_count_a, 2.5_um_count_b, 5.0_um_count, 5.0_um_count_a, 5.0_um_count_b, 10.0_um_count 10.0_um_count_a, 10.0_um_count_b, altitude, analog_input, channel_flags, channel_flags_auto, channel_flags_manual, channel_state, confidence, confidence_auto, confidence_manual, date_created, firmware_upgrade, firmware_version, hardware, humidity, humidity_a, humidity_b, icon, last_modified, last_seen, latitude, led_brightness, location_type, location_type, longitude, memory, model, modified_since,name, ozone1, pa_latency, pm2.5, pm2.5_1week, pm2.5_1week_a, pm2.5_1week_b, pm2.5_6hour, pm2.5_6hour_a, pm2.5_6hour_b, pm2.5_10minute, pm2.5_10minute_a, pm2.5_10minute_b, pm2.5_24hour, pm2.5_24hour_a, pm2.5_24hour_b, pm2.5_30minute, pm2.5_30minute_a, pm2.5_30minute_b, pm2.5_60minute, pm2.5_60minute_a, pm2.5_60minute_b, pm2.5_a, pm2.5_alt, pm2.5_alt_a, pm2.5_alt_b, pm2.5_atm, pm2.5_atm_a, pm2.5_atm_b, pm2.5_b, pm2.5_cf_1, pm2.5_cf_1_a, pm2.5_cf_1_b, pm10.0, pm10.0_a, pm10.0_atm, pm10.0_atm_a, pm10.0_atm_b, pm10.0_b, pm10.0_cf_1, pm10.0_cf_1_a, pm10.0_cf_1_b, position_rating, pressure, pressure_a, pressure_b, private, rssi, temperature, temperature_a, temperature_b, time_stamp, uptime, voc, voc_a, voc_b",
                "example": "name, temperature, pressure, humidity"
            },
            "TableName": {
                "type": "integer",
                "description": "The sensor_index as found in the JSON for this specific sensor.",
                "example": 10221
            },
        },
        "parameters": {
            "appId": {
                "name": "appId",
                "in": "path",
                "required": true,
                "description": "Specifies the ID of the AppSheet app. Select Manage > Integrations and expand IN: from cloud services to your app to view the App Id.",
                "schema": {
                    "$ref": "#/components/schemas/AppId"
                }
            },
            "tableName": {
                "name": "tableName",
                "in": "path",
                "required": true,
                "description": "Specifies the name of the table. Select Data > Tables and expand the table details to view the Table name. Note: The table name should be URL-encoded.",
                "schema": {
                    "$ref": "#/components/schemas/TableName"
                }
            },
        },
        "securitySchemes": {
            "apiKey": {
                "type": "apiKey",
                "name": "applicationAccessKey",
                "in": "header"
            }
        }
    }
}